name: Auto Release Resource Pack

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Archive Resource Pack Files
        run: zip -r release-pack.zip . -x "*.git*" "release-pack.zip"

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          files: release-pack.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
